@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply flex flex-col  items-center border border-sky-900
    bg-gray-950 rounded-md p-2 m-2 w-3/4 sm:w-2/4 md:w-2/5 xl:w-1/4
  }
}


:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #0c0b0b;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}


